    <nav class="navbar navbar-expand-lg navbar-dark " id="" style="background-color: rgba(52, 83, 130, 1);width: 100%; position: fixed; height: 11%;">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#"> 
            <p style="display: flex; align-items: center;">
            <span class="s">$</span>
            <span class="plitter">plitter</span>
            </p>
            <span Class="split" style="position: relative;">SPLIT IT UP</span>
        </a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">
                <img src="images/dashboard/add_Bill.png" alt="add-bill">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                <span><img src="images/dashboard/notification.png" alt="notification"></span>
                <span class="badge badge-danger badge-counter">3+</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                <img src="images/dashboard/logout.png" alt="logout">
                </a>
            </li>
        </ul>
    </nav> 