
    <div class="modal fade" id="settle-up-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: rgba(52, 83, 130, 1);">
                    <h5 class="modal-title" id="settle-up-header">SETTLE UP</h5>
                    <%= image_tag("/assets/settle_up/Close_white.png", alt: "close", class: "close", "data-dismiss": "modal", "arial-label": "Close", "aria-hidden": "true") %>
                </div>
                <div class="modal-body" style="background-color: rgba(242, 242, 242, 1);">
                    <p style="font-family: Raleway; font-weight: 700;"><span>No. of settile up friends</span><span style="float: right;">02</span></p><hr>
                    <ol style="color: rgba(0, 0, 0, 0.8); font-family: Raleway; font-weight: 400;">
                        <li style="color: rgba(145, 145, 145, 1); height: 15px; margin-top: -5px;"><span>Emilie Carter</span><span style="float: right;"><i class="far fa-times-circle"></i></span><span style="float: right; margin-right: 20px;">$15</span></li><hr style="margin-left: -40px;">
                        <li style="color: rgba(145, 145, 145, 1); height: 15px; margin-top: -5px;"><span>Travis Yates</span><span style="float: right;"><i class="far fa-times-circle"></i></span><span style="float: right; margin-right: 20px;">$20</span></li>
                    </ol>
                    <hr style="margin-left: -16px; border: 2px solid rgba(255, 255, 255, 1); margin-right: -16px;">
                    <p style="font-family: Raleway; font-weight: 700; height: 15px; margin-top: -5px;"><span>Total amount:</span><span style="float: right;">$35</span></p>
                    <hr style="border: .5px solid rgba(255, 255, 255, 1); margin-left: -16px; margin-right: -16px;">
                    <p style="font-family: Raleway; font-weight: 700; height: 15px; margin-top: -5px;"><span>Balance amount:</span><span style="float: right;">$05</span></p>
                    <hr style="border: .5px solid rgba(255, 255, 255, 1); margin-left: -16px; margin-right: -16px;">
                    <p style="background-color: rgba(255, 255, 255, 1);color: rgba(0, 0, 0, 0.8); font-family: Raleway; font-weight: 400; margin-left: -16px; margin-right: -16px; padding-left: 16px; margin-top: -16px; padding-top: 25px; padding-right: 16px; height: 100px"> <span style="margin-top: 10px; display: inline-flex;">Settiling amount</span><span style="width: 200px; padding: 10px; border: 2px solid rgba(153, 153, 153, 1); margin: 0; float: right; display: inline-flex;">$25</span></p>
                    <hr>
                     <div class="text-center" style="color: rgba(0, 0, 0, 0.8); font-family: Raleway; font-weight: 400; background-color: rgba(255, 255, 255, 1); margin-top: -32px; margin-left: -16px; margin-right: -16px; align-items: center; padding-top: 10px; padding-bottom: 10px; margin-bottom: -20px;"><button type="submit" class="btn btn-warning rounded-pill" style="padding: 3px 3px 3px 3px; width: 110px; font-size: 14px; background-color: rgba(227, 174, 32, 1); font-family: Raleway; font-weight: 700; color: rgba(0, 0, 0, 0.06),rgba(0, 0, 0, 1);">SETTLE UP</button></div>
                    
                </div>
            </div>
        </div>
    </div>
<!-- end of settle up Modal -->
