<!doctype html>
<html lang="en">
  <head>
    <title>Dashboard</title>
      
    <!-- Bootstrap core CSS -->
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/">
      
    <!-- Bootstrap Scripts -->
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDr4hv3W_J8l6nID8mdG1YXMBbWa6YbBkA&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
  </head>
    
  <body id="page-top">
      
  <!-- Page Wrapper -->
  <div class="active" id="wrapper">
      
  <!-- Sidebar -->
      <%= render "dashboard/sidebar" %>
  <!-- End of Sidebar -->
      
  <!-- Profile bar -->            
      <%= render "dashboard/profilebar" %>
  <!-- End of Profile bar -->
      
  <!-- Main Content -->
      <div id="content">
          
  <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

  <!-- Topbar -->
      <%= render "dashboard/navbar" %>
  <!-- End of Topbar -->
    
  <!-- Begin Page Content -->
      <div class="container-fluid">
        
  <!-- Content Row -->
    <br/><br/><br>
    <div class="row">
        <div class="contact-bg" style="">    
            <p style="margin-left: 25px;margin-top: 20px; color: rgba(255, 255, 255, 0.98);font-family: Raleway; font-weight: 700;">CONTACT</p>
            <p style="margin-left: 250px;margin-top: 30px; color: rgba(255, 255, 255, 0.8);font-family: Raleway; font-weight: 500;">805 Veterans Blv<br/> Sute 322 <br/>Redwood city, CA 94063</p> 
             <p style="margin-left: 500px;margin-top:-75px; color: rgba(255, 255, 255, 0.8);font-family: Raleway; font-weight: 500;"><i class="fa fa-mobile" style="padding-right: 5px;"></i> 415-201-93-34 <br/><i class="fa fa-envelope" aria-hidden="true" style="padding-right: 5px;"> </i>hellow@34gment.com</p>
        </div> 
    </div>
    <!-- Content Row -->

    <!-- Content Row -->
  
   <div class="row" style="margin-left: 23.8%; background-color: rgba(0, 0, 0, 0.1); width: 77%; height: 335px;">
       <div class="col-6" style="margin-top: 10px;">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" Placeholder="Name"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Email" />
            </div>
            <textarea class="form-control" rows="5" id="comment" placeholder="Message"></textarea>
            <button type="submit" class="btn btn-warning rounded-pill" style="padding: 3px 3px 3px 3px; width: 100px; font-size: 14px; background-color: rgba(244, 165, 35, 1); font-family: Roboto; font-weight: 700; color: rgba(0, 0, 0, 0.98);float: right; margin-top: 11px;">SUMBIT</button>
           </form>
           </div>
       <div class="col-6" style="">
           
        
           <div id="cont-map"></div>
           
    </div>
        
    

    </div>
        </div>
    <!-- /.container-fluid -->
    
    </div>
    <!-- End of Main Content -->
        
    <!-- Footer -->

      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->
         <footer class="sticky-footer bg-light" style="position:fixed; width: 100%;  flex-shrink: 0; padding: 10px; object-position: bottom;bottom: 0px; background-color: rgba(241, 241, 241, 1);">
            <div class="container my-auto">
              <div class="copyright text-center my-auto" style="color: rgba(0, 0, 0, 1); font-family: Raleway; font-weight: 400; font-size: 13px;">
                <span style="float: left; margin-left: -95px;">Privacy and terms</span>
                <span style="float: right; margin-right: -95px;">&#169; 2013-2016 . All rights reserved.</span>
              </div>
            </div>
          </footer>
  </div>
  <!-- End of Page Wrapper -->
      

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>
      <!-- map -->
    <script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        const uluru = { lat: -25.344, lng: 131.036 };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("cont-map"), {
          zoom: 4,
          center: uluru,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
          position: uluru,
          map: map,
        });
      }   
        

    </script>
      
  </body>
  </html>
